# Ignore raw videos
data/raw/

# Python
__pycache__/
*.pyc

# Models
*.pt
*.pth
*.h5

# Virtual environments
.venv/
venv/
.env

# VSCode
.vscode/

# Landmark dataset
data/landmarks/

# MediaPipe model
*.task
